<?xml version="1.0" encoding="utf-8" ?>
<routes>
	
	<route url="/admin/" module="News" action="index"></route>
	<route url="/admin/news-update-([0-9]+)" module="News" action="update" vars="id" pattern="/admin/news-update-{{id}}"></route>
	<route url="/admin/news-delete-([0-9]+)" module="News" action="delete" vars="id" pattern="/admin/news-delete-{{id}}"></route>
	<route url="/admin/news-comment-update-([0-9]+)" module="News" action="updateComment" vars="id" pattern="/admin/news-comment-update-{{id}}"></route>
	<route url="/admin/news-comment-delete-([0-9]+)" module="News" action="deleteComment" vars="id" pattern="/admin/news-comment-delete-{{id}}"></route>
	
	<route url="/admin/users" module="User" action="index"></route>
	<route url="/admin/user-([0-9]+)" module="User" action="detail" vars="id" pattern="/admin/user-{{id}}"></route>
	<route url="/admin/user-insert" module="User" action="insert"></route>
	<route url="/admin/user-update-([0-9]+)" module="User" action="update" vars="id" pattern="/admin/user-update-{{id}}"></route>
	<route url="/admin/user-delete-([0-9]+)" module="User" action="delete" vars="id" pattern="/admin/user-delete-{{id}}"></route>
	
	<route url="/admin/roles" module="Role" action="index"></route>
	<route url="/admin/role-insert" module="Role" action="insert"></route>
	<route url="/admin/role-update-([0-9]+)" module="Role" action="update" vars="id" pattern="/admin/role-update-{{id}}"></route>
	<route url="/admin/role-delete-([0-9]+)" module="Role" action="delete" vars="id" pattern="/admin/role-delete-{{id}}"></route>
	
	<route url="/(.*)" module="User" action="404"></route>

</routes>